<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Node ecosensornet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Calibration</h1>
<p>
    <a href="/">back home</a>
</p>
<h2>Values</h2>

<form method="post" action="page_calibration.html">
    <p>
        <input type="submit" value="Submit">
        <input type="reset">
    </p>
    <h3>t0</h3>
    <p>
        sid:
        <input type="number" id="sensor0_sid0" name="sensor0_sid0" step="any" value="{{sensor0_sid0}}">
        <input type="number" id="sensor0_sid1" name="sensor0_sid1" step="any" value="{{sensor0_sid1}}">
        <input type="number" id="sensor0_sid2" name="sensor0_sid2" step="any" value="{{sensor0_sid2}}">
        <input type="number" id="sensor0_sid3" name="sensor0_sid3" step="any" value="{{sensor0_sid3}}">
        <input type="number" id="sensor0_sid4" name="sensor0_sid4" step="any" value="{{sensor0_sid4}}">
        <input type="number" id="sensor0_sid5" name="sensor0_sid5" step="any" value="{{sensor0_sid5}}">
        <input type="number" id="sensor0_sid6" name="sensor0_sid6" step="any" value="{{sensor0_sid6}}">
        <input type="number" id="sensor0_sid7" name="sensor0_sid7" step="any" value="{{sensor0_sid7}}">
    </p>
    <h3>t1</h3>
    <p>
        sid:
        <input type="number" id="sensor1_sid0" name="sensor1_sid0" step="any" value="{{sensor1_sid0}}">
        <input type="number" id="sensor1_sid1" name="sensor1_sid1" step="any" value="{{sensor1_sid1}}">
        <input type="number" id="sensor1_sid2" name="sensor1_sid2" step="any" value="{{sensor1_sid2}}">
        <input type="number" id="sensor1_sid3" name="sensor1_sid3" step="any" value="{{sensor1_sid3}}">
        <input type="number" id="sensor1_sid4" name="sensor1_sid4" step="any" value="{{sensor1_sid4}}">
        <input type="number" id="sensor1_sid5" name="sensor1_sid5" step="any" value="{{sensor1_sid5}}">
        <input type="number" id="sensor1_sid6" name="sensor1_sid6" step="any" value="{{sensor1_sid6}}">
        <input type="number" id="sensor1_sid7" name="sensor1_sid7" step="any" value="{{sensor1_sid7}}">
    </p>
    <h3>t2</h3>
    <p>
        sid:
        <input type="number" id="sensor2_sid0" name="sensor2_sid0" step="any" value="{{sensor2_sid0}}">
        <input type="number" id="sensor2_sid1" name="sensor2_sid1" step="any" value="{{sensor2_sid1}}">
        <input type="number" id="sensor2_sid2" name="sensor2_sid2" step="any" value="{{sensor2_sid2}}">
        <input type="number" id="sensor2_sid3" name="sensor2_sid3" step="any" value="{{sensor2_sid3}}">
        <input type="number" id="sensor2_sid4" name="sensor2_sid4" step="any" value="{{sensor2_sid4}}">
        <input type="number" id="sensor2_sid5" name="sensor2_sid5" step="any" value="{{sensor2_sid5}}">
        <input type="number" id="sensor2_sid6" name="sensor2_sid6" step="any" value="{{sensor2_sid6}}">
        <input type="number" id="sensor2_sid7" name="sensor2_sid7" step="any" value="{{sensor2_sid7}}">
    </p>
</form>

</body>
</html>
